{% extends 'base.html' %}
{% block content %}
<head>
<link href='/static/css/style.css' rel='stylesheet' type=test/css>
</head>
<div class="container">
    <form mehtod='post'>
    
    
    
    <div class="row">
            <a href=""><div class="card">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                            <label>  
                          
                                      <div class="panel panel-default card-input">
                                        <div class="panel-heading">Mobile</div>
                                        
                                      </div>
                          
                                  </label>
                    </div>
                  </div></a>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                    
               
            </div>
          </div>
          
         
           
       
          
          <div class="card" style="width: 18rem;">
            <div class="card-body">
                    
                <label>
                    <input type="radio" name="web" class="card-input-element" />
          
                      <div class="panel panel-default card-input">
                        <div class="panel-heading">Web</div>
                        
                      </div>
          
                  </label>
            </div>
          </div>
        
          
          <div class="card" style="width: 18rem;">
                <div class="card-body">
                        
                    <label>
                        <input type="radio" name="database" class="card-input-element" />
              
                          <div class="panel panel-default card-input">
                            <div class="panel-heading">Database</div>
                            
                          </div>
              
                      </label>
                </div>
              </div>
    
  </div>
  </form>
  {% endblock %}